.list {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.list-item {
    display: flex;
    justify-content: center;
    flex-basis: 300px;
    max-width: 500px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;
}

.image {
    width: 100%;
}
